<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pack.suning.com.module_market" >
    <application android:label="@string/app_name">
        <activity android:name="cn.suning.market.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>